extends ../layout

block content
  h1= `Mostrando datos de la Bicicleta con ID: ${bici.id}` 
  p= `ID: ${bici.id}`
  p= `Color: ${bici.color}` 
  p= `Modelo: ${bici.modelo}` 
  p= `Ubicacion: ${bici.ubicacion}` 

  